
@keyframes tick {
    /* 0% {
        box-shadow: 0 0 #1363E2 inset;
    }
    100% {
        box-shadow: 0 -70px #1363E2 inset;
    } */
    to{transform: rotate(359deg);}
}
.load{
    height: 100vh;
}
.loader{
        /* transform: perspective(140px) rotateX(-45deg); */
        width: 64px;
        height: 64px;
        position: relative;
        border: 2px solid #1363E2;
        /* background-color: #1363E2; */
        /* animation: load linear infinite alternate ; */
        border-radius: 50%;
}
.loader::after{
    content: "";
    position: absolute;
    bottom: 29px;
    left: 30px;
    display: block;
    transform-origin: 0% 100%;
    width: 1px;
    height: 24px;
    background: #1363E2;
    animation: tick 1s infinite linear;
}
